/* Scss Document */

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
	margin-top: calc(#{$std-margin} * 1.5);
	width: 100%;
	color: #fff;
	border: none;
	padding: $std-padding 0;
	text-transform: uppercase;
	border-radius: 5px;
	@include mq('tablet') {
		flex-direction: row;
		& + & {
  			margin-left: $std-margin;
		}
	}
}

@each $btn, $color in $buttons {
    #{$btn} {
        background-color: #{$color};
		transition: background-color .8s;
        &:hover {
            background-color: lighten($color, 15)
        }
    }
}