/* Scss Document */

/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
	padding: 0 $std-padding;
	@include mq('tablet') {
		max-width: 1400px;
  		@include centered-block;
	}
}

.row {
	display: flex;
	flex-direction: column;
	padding: 1em $std-padding;
	@include mq('tablet') {
		flex-direction: row;
	}
}

[class^=col] {
	margin-top: $std-margin;
	flex-basis: 100%;
	min-height: 25px;
	padding: $std-padding;
	border-radius: 5px;
	@include mq('tablet') {
		display: flex;
		justify-content: center;
		margin-top: 0;
		align-items: center;
		+ [class^=col] {
  			margin-left: $std-margin;
		}
	}
}

.card {
  flex-basis: 100%;
}

@for $col from 1 through 12 {
	.theme.col-#{$col} {
		background-color: lighten(adjust-hue($secondary-color, $col * 131), 12%)
	}
	
	.col-#{$col} {
		@include mq('tablet') {
			flex-basis: calc(#{$col} / 12 * 100%)
		}	
	}		
}

.centered {
	@include mq('tablet') {
		@include centered-block;
	}
}


	

