// Scss Document //

/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

fieldset {
	text-decoration: none;
	border: none;
}

