// Scss Document //

/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $main-font-color;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline-primary {
  color: $primary-color;
  margin-left: $std-margin;
}

.headline-secondary {
  font-weight: 300;
  color: $main-font-color;
}

.link {
  color: $secondary-color;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: calc(#{$std-margin} * 2);
  padding-left: calc(#{$std-padding} * 2);
  border-left: 8px solid $primary-color;
  border-radius: 5px;
}